TOOLCHAIN_PREFIX=$(HOME)/opt/cross/bin
GRUB_MKRESCUE=$(HOME)/opt/bin/grub-mkrescue

export TARGET_ARCH=x86
export CC=$(TOOLCHAIN_PREFIX)/i686-elf-gcc -fdiagnostics-color=auto
export AS=$(TOOLCHAIN_PREFIX)/i686-elf-as
export AR=$(TOOLCHAIN_PREFIX)/i686-elf-ar
export CFLAGS:=-ffreestanding -std=c99 -Wall
