TOOLCHAIN_PREFIX=$(HOME)/opt/cross/bin

export TARGET_ARCH=x86
export CC=$(TOOLCHAIN_PREFIX)/i686-elf-gcc -fdiagnostics-color=auto
export AS=$(TOOLCHAIN_PREFIX)/i686-elf-as
export AR=$(TOOLCHAIN_PREFIX)/i686-elf-ar
export CFLAGS:=-ffreestanding -std=c99 -Wall -pipe -ggdb
CPPFLAGS:=-DARCH_$(TARGET_ARCH)=1

export GRUB_MKRESCUE=$(HOME)/opt/bin/grub-mkrescue
export QEMU=qemu-system-i386
export QEMU_FLAGS=-debugcon stdio
