include $(ARCHDIR)boot/make.config
include $(ARCHDIR)drivers/make.config

ARCH_ROOT_OBJS=arch.o \
			   cpu_context.o \
			   cpu_context_switch.o \
			   debug.o \
			   exception.o \
			   gdt.o \
			   i8254.o \
			   i8259.o \
			   idt.o \
			   interrupt.o \
			   irq.o \
			   paging.o \
			   cpu.o

ARCH_OBJS=$(addprefix $(ARCHDIR),$(ARCH_ROOT_OBJS)) \
		  $(addprefix $(ARCHDIR)drivers/,$(ARCH_DRIVERS_OBJS)) \
		  $(addprefix $(ARCHDIR)boot/,$(ARCH_BOOT_OBJS))
