include $(ARCHDIR)boot/make.config
include $(ARCHDIR)drivers/make.config

export ARCH_ROOT_OBJS=cpu.o exception.o gdt.o i8259.o idt.o interrupt.o \
					  irq.o arch.o paging.o i8254.o

ARCH_OBJS=$(addprefix $(ARCHDIR)boot/,$(ARCH_BOOT_OBJS)) \
		  $(addprefix $(ARCHDIR)drivers/,$(ARCH_DRIVERS_OBJS)) \
		  $(addprefix $(ARCHDIR),$(ARCH_ROOT_OBJS))
