include $(KERNELDIR)locking/make.config

KERNEL_ROOT_OBJS=kernel.o \
				 kernel_image.o \
				 kheap.o \
				 kmalloc.o \
				 memory.o \
				 sched.o \
				 thread.o \
				 time.o

KERNEL_OBJS=$(addprefix $(KERNELDIR),$(KERNEL_ROOT_OBJS)) \
			$(addprefix $(KERNELDIR)locking/,$(KERNEL_LOCKING_OBJS))
