include $(KERNELDIR)locking/make.config
include $(KERNELDIR)sched/make.config
include $(KERNELDIR)time/make.config

KERNEL_ROOT_OBJS=\
				 exit.o \
				 kernel.o \
				 kernel_image.o \
				 kheap.o \
				 kmalloc.o \
				 memory.o \
				 process.o \
				 syscall.o \
				 thread.o \

KERNEL_OBJS=$(addprefix $(KERNELDIR),$(KERNEL_ROOT_OBJS)) \
			$(addprefix $(KERNELDIR)locking/,$(KERNEL_LOCKING_OBJS)) \
			$(addprefix $(KERNELDIR)sched/,$(KERNEL_SCHED_OBJS)) \
			$(addprefix $(KERNELDIR)time/,$(KERNEL_TIME_OBJS))
