LIBK_OBJS=\
		  $(LIBKDIR)ctype.o \
		  $(LIBKDIR)memcmp.o \
		  $(LIBKDIR)memcpy.o \
		  $(LIBKDIR)memset.o \
		  $(LIBKDIR)refcount.o \
		  $(LIBKDIR)snprintf.o \
		  $(LIBKDIR)strcat.o \
		  $(LIBKDIR)strcmp.o \
		  $(LIBKDIR)strcpy.o \
		  $(LIBKDIR)strlcpy.o \
		  $(LIBKDIR)strlen.o \
		  $(LIBKDIR)strncat.o \
		  $(LIBKDIR)strncmp.o \
		  $(LIBKDIR)strncpy.o \
		  $(LIBKDIR)strnlen.o \
		  $(LIBKDIR)vsnprintf.o \
